<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>{% block title %}Tripu Swinger Paradise{% endblock %}</title>
</head>
<body>
    <header>
        <div class="header-content">
            <nav>
                <ul>
                    <li><a href="/"><i class="fas fa-home"></i> Inicio</a></li>
                    <li><a href="/about"><i class="fas fa-info-circle"></i> Acerca de</a></li>
                    {% if session['username'] %}
                    <li><a href="/profile"><i class="fas fa-user-circle"></i> Mi Perfil</a></li>
                    <li><a href="/logout" class="logout-button"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
                    {% else %}
                    <li><a href="/login" class="login-button"><i class="fas fa-sign-in-alt"></i> Iniciar sesión</a></li>
                    {% endif %}
                </ul>
            </nav>
        
        </div>
        {% block header %}{% endblock %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Estamos emocionados de que consideres unirte a Tripu Swinger Paradise. Aquí, encontrarás un lugar donde puedes ser tú mismo, explorar tus deseos y conocer a personas que comparten tus intereses. Recuerda, la aventura comienza cuando te atreves a dar el primer paso.</p>
        <div class="footer-content">
            <p>&copy; 2023 Mi Aplicación Flask</p>
            <div class="social-links">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>