<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Crear Cartelera</title>
    <style>
        #fecha_vigencia {
            display: none; /* Ocultar el campo de fecha */
        }
    </style>
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <h2 class="mt-5">Crear Nueva Cartelera</h2>
        <form id="carteleraForm">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <div class="form-group">
                <label for="titulo">Título:</label>
                <input type="text" class="form-control" id="titulo" name="titulo" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <textarea class="form-control" id="descripcion" name="descripcion" required></textarea>
            </div>
            <div class="form-group" hidden>
                <label for="fecha_vigencia">Fecha de Vigencia:</label>
                <input type="date" class="form-control" id="fecha_vigencia" name="fecha_vigencia">
            </div>
            <button type="submit" class="btn btn-success">Crear Cartelera</button>
        </form>
    </div>

    <script>
        // Asignar la fecha actual al campo de fecha de vigencia
        document.addEventListener('DOMContentLoaded', function() {
            const today = new Date().toISOString().split('T')[0]; // Obtener la fecha actual en formato YYYY-MM-DD
            document.getElementById('fecha_vigencia').value = today; // Asignar la fecha al campo
        });

        document.getElementById('carteleraForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Evita el envío normal del formulario

            const formData = {
                titulo: document.getElementById('titulo').value,
                descripcion: document.getElementById('descripcion').value,
                fecha_vigencia: document.getElementById('fecha_vigencia').value,
               // csrf_token: document.querySelector('input[name="csrf_token"]').value // Obtener el token CSRF
            };

            fetch('{{ url_for('crear_cartelera') }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-Token': '{{ csrf_token() }}'  
                },
                body: JSON.stringify(formData)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al crear la cartelera');
                }
                return response.json();
            })
            .then(data => {
                //alert(data.message); // Muestra el mensaje de éxito o error
                if (data.success) {
                    window.location.href = '/'; // Redirige a la página principal u otra página
                }
            })
            .catch(error => {
                alert(error.message); // Muestra el mensaje de error
            });
        });
    </script>
</body>
</html>